<div class="container">
    <h1>Demo <small>angular</small></h1>

    <app-ng-style></app-ng-style>

    <app-css></app-css>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur itaque placeat officiis hic eveniet, reprehenderit earum molestiae nihil expedita quam aliquam sint minus. Suscipit minima ipsum error repudiandae possimus.
    </p>

    <app-clases></app-clases>

    <p [appResaltado]="'orange'">
        Hola Mundo
    </p>

    <app-ng-switch></app-ng-switch>

</div>